.Card {
    flex: 1;
    margin: 20px 20px 0px 20px;
    border: 3px solid black;
    border-radius: 10px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    min-width: 100px;
}

.Card li {
    list-style-type: none;
}

.Card .Conteudo{
    flex: 1;
    background-color: #ffffff;
    color: #000000;
    padding: 15px 15px;
}

.Card .Footer{
    background-color: #CCAA00;
    color: #ffffff;
    padding: 10px 10px;
}